<div class="row mt-1">
    <div class="col-lg-4 offset-lg-4">
        <div class="card border-secondary mb-3" style="max-width: 25rem;">
            <div class="card-header text-center">Agregar Producto</div>
            <div class="card-body">
                <form [formGroup]="form" >
              
                    <input formControlName="nombre" type="text" class="form-control" placeholder="Ingrese el nombre del producto">
                    <input formControlName="marca"  type="text" class="form-control mt-2" placeholder="Ingrese la marca del producto">
                    <input formControlName="descripcion" type="text" class="form-control mt-2" placeholder="Ingrese la descripción del producto">
                    <input formControlName="precio"  type="number" class="form-control mt-2" placeholder="Ingrese el precio del producto">
                    <input formControlName="cantidad"  type="number" class="form-control mt-2" placeholder="Ingrese la cantidad del producto">
                    <input formControlName="imagen"  type="text" class="form-control mt-2" placeholder="Ingrese el link de la imagen">
                    <div class="row mt-4 text-center">
                        <div class="col-lg-6">
                            <button routerLink="/" type="button" class="btn btn-outline-primary">Volver</button>
                        </div>
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-outline-secondary"  >Aceptar</button>
                        </div>
                   
                       
                    </div>
                 
                </form>
              
            </div>   
          </div>
    </div>
</div>

